In [2]:
#importing libraries
import pandas as pd
import numpy as np

In [3]:
#loading the dataset
df= pd.read_csv("spam.csv")

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.Category.value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [8]:
#classifying the spam as 1 and ham as 0
df['spam'] = df['Category'].apply(lambda x: 1 if x == 'spam' else 0)

In [9]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
#test and training the dataset
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.3)

In [17]:
print(X_test.shape,X_train.shape)

(1672,) (3900,)

In [19]:
print(y_test.shape,y_train.shape)

(1672,) (3900,)

In [23]:

from sklearn.feature_extraction.text import CountVectorizer

In [26]:
#applying the countervectorizer to matrix form
D = CountVectorizer()

In [29]:
X_train_Cv=D.fit_transform(X_train)
X_train_Cv

<3900x7211 sparse matrix of type '<class 'numpy.int64'>'
	with 51536 stored elements in Compressed Sparse Row format>

In [32]:
X_train_Cv.toarray()
X_train_Cv.shape

(3900, 7211)

In [33]:
#converting the matix form into array
X_train_np = X_train_Cv.toarray()

In [36]:
#find the vocablury values which presented 
np.where(X_train_np[0] != 0)

(array([ 864, 1577, 2206, 2583, 4533, 7031, 7173, 7177], dtype=int64),)

In [38]:
X_train[:4]

3565      Do you always celebrate NY's with your family ?
3984    Nationwide auto centre (or something like that...
2101      Oh Howda gud gud.. Mathe en samachara chikku:-)
1454                              Stupid.its not possible
Name: Message, dtype: object

In [39]:
X_train_np[0][864]

1

In [40]:
D.get_feature_names_out()[864]

'always'

In [41]:
#apply MultinomialNB model 
from sklearn.naive_bayes import MultinomialNB

In [42]:
model = MultinomialNB()

In [43]:
model.fit(X_train_Cv, y_train)

MultinomialNB()

In [45]:
X_test_cv = D.transform(X_test)

In [46]:
#creating the classification report
from  sklearn.metrics import classification_report

In [47]:
y_pred = model.predict(X_test_cv)

In [49]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1436
           1       0.97      0.91      0.94       236

    accuracy                           0.98      1672
   macro avg       0.98      0.95      0.96      1672
weighted avg       0.98      0.98      0.98      1672

In [50]:
#testing the model based on trained dataset with example
emails = [
    '''Dear Investor,

Before dealing with any Investment Advisor, please check whether it is registered with SEBI. Donâ€™t deal with unregistered Investment Advisors.
Link for verification of registered investment advisors: https://www.sebi.gov.in/sebiweb/other/OtherAction.do?doRecognisedFpi=yes&intmId=13
National Stock Exchange of India Ltd.'''
]

In [51]:
#predicting the mail spam or not spam means it show 1 and ham means it shows 0
email_count = D.transform(emails)
model.predict(email_count)

array([1], dtype=int64)